:host {
  background-image: url(/assets/images/title.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 2em !important;
  font-family: 'Tillana', cursive;
  font-size: 3em;
  color: #E8EAF6;

  -youbkit-touch-callout: none; /* iOS Safari */
  -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE 10+ and Edge */
  user-select: none;            /* Non-prefixed version, currently supported by Chrome and Opera */
}

.controls-container {
  padding-top: 10px;
  padding-right: 10px;
}

@font-face {
  font-family: Tillana;
  src: url(/assets/fonts/Tillana-Regular.ttf) format('truetype'),
       url(/assets/fonts/Tillana-Medium.ttf) format('truetype');
}
