<div class="controls-container" fxLayout="row" fxLayoutAlign="end none">
  <app-login-button *ngIf="!auth.isLoggedIn else logout;"></app-login-button>
  <ng-template #logout>
    <app-logout-button></app-logout-button>
  </ng-template>
</div>
<h1 (dblclick)="onDblClick($event)">{{ parsedValue }}</h1>
