<div class="controls-container">
    <button *ngIf="auth.isLoggedIn" mat-raised-button color="primary" (click)="onAddRecipe()">Add Recipe</button>
</div>
<table mat-table [dataSource]="data">
    <!-- Name Definition -->
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef>Name</th>
        <td *matCellDef="let element"><a [routerLink]="['/recipe', element.key]">{{element.name}}</a></td>
    </ng-container>

    <!-- Edit Control -->
    <ng-container matColumnDef="edit" *ngIf="auth.isLoggedIn">
        <th *matHeaderCellDef>Edit</th>
        <td *matCellDef="let element" class="cell-controls">
            <button mat-icon-button (click)="onEdit(element.key)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onRemove(element.name, element.key)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="recipesCount"
               [pageSize]="recipeListSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPage($event)">
</mat-paginator>
