table {
    width: 100%;
}

.cell-controls {
    text-align: end;
}

.controls-container {
    margin-top: 5px;
    margin-bottom: 25px;
    margin-right: 25px;
    text-align: end;
}

th {
    display: none;
}
