<div *ngIf="recipe" class="container">
    <div class="controls-container">
        <button mat-raised-button color="primary" routerLink="" >Back</button>
    </div>

    <h3>{{ recipe.name }}</h3>
    <div class="recipe-text">{{ recipe.text }}</div>
</div>
