.controls-container {
    margin-top: 5px;
    margin-bottom: 25px;
    margin-right: 25px;
    text-align: end;
}

.recipe-text {
    white-space: pre-line;
    text-align: justify;
}

.container {
    width: 100% - 50px;
    padding-left: 25px;
    padding-right: 25px;
}
