<div fxLayout="column" class="app-container">
  <app-title [value]="appTitle"></app-title>
  <div fxFlex class="background">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
