form {
    min-width: 150px;
    max-width: 1000px;
    width: 100% - 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.recipe-full-width {
    width: 100%;
}

.controls-container {
    margin: 0px;
}

/* Fixes a gap between buttons */
.mat-raised-button {
  margin-left: 8px;
}
