<form class="container" [formGroup]="recipeForm" (submit)="onSubmit()">
  <mat-form-field class="recipe-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Rizecky a sekana" formControlName="name">
  </mat-form-field>
  <mat-form-field class="recipe-full-width">
    <mat-label>Text</mat-label>
    <textarea matInput formControlName="text" rows="22" cols="75"></textarea>
  </mat-form-field>
    <!--<ng-container *ngFor="let validation of validation_messages.name">
      <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation}}</mat-error>
    </ng-container-->
  <div class="controls-container" fxLayoutAlign="end" mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button [disabled]="recipeForm.invalid || isBusy" color="primary" type="submit">Save</button>
  </div>
</form>
