<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field class="dialog-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>    
    <mat-form-field class="dialog-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </form>
</div>
<div class="controls-container" fxLayoutAlign="end" mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onLoginClick()" [disabled]="userForm.invalid" color="primary" cdkFocusInitial>Login</button>
</div>
